* { /*poniendo la fuente y estableciendo el comportamiento de las propiedades de altura y ancho*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { /*configurando el fondo de la pagina*/
    min-height: 200px;
    background-image: url(https://wallpaperaccess.com/full/1259258.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
header { /*configurando el tamaño del header, poniendo un padding tanto a los costados como a arriba y abajo*/
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
} /*ajustando el tamaño del logo*/
.logo {
    height: 90px;
    width: 90px;
    filter: drop-shadow( 0 0 1px rgba(132, 39, 207));
} /*haciendo la animacion de los links para ir a las paginas de preguntas frecuentes y sobre el proyecto*/
.navigation a {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.navigation .Paginascontiguas:hover::after{
    transform-origin: left;
    transform: scaleX(1);
} /*poniendo la animacion de iluminar el boton de login*/
.navigation .btnlogin{
    width: 250px;
    height: 55px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.2s;
}
.navigation .btnlogin:hover{
    background: #fff;
    color: #162938;
}
.Venta { /*configurando el body, principalmente la zona de donde se mostraria el producto a vender*/
    display: flex;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px rgba(132, 39, 207);
    margin-top: 110px;
    margin-bottom: 110px;
    width: 1200px;
    border-radius: 1%;
    overflow: hidden;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.datos-producto{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productoenventa {
    width: 600px;
    height: 600px;
}
.Producto{
    display: flex;
    color: #fff;
    border-left: 2px solid #dea5ff;
}
.Nombreproducto {
    font-size: 50px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.Descripcionproducto {
    display: flex;
    margin-left: 3px;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 300px;
}
.Comprarproducto {
    width: 700px;
    height: 48px;
    background: rgba(132, 39, 207);
    border: none;
    border-radius: 6px;
    text-align: center;
    padding: 0 24px;
    color: white;
    margin-right: 3px;
    cursor: pointer;
    font-size: 25px;
} /*configurando el footer y dandole colores*/
.Infoempresa {
    display: flex;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 5);
}
.logoempresa{
    width: 300px;
    filter: drop-shadow( 0 0 1px rgb(132, 39, 207));
}
.Descripcionempresa {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.Text {
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.Iniciodesesion {
    position: relative;
    width: 440px;
    height: 440px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border-top: 2px solid #bd7aff;
    border-left: 2px solid #bd7aff;
    border-bottom: 2px solid #450076;
    border-right: 2px solid #450076;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 800px;
    transition: height .2s ease;
}
.Iniciodesesion.activo {
    height: 520px;
}
.Iniciodesesion .Formulariologin {
    width: 100%;
    padding: 40px;
}
.Iniciodesesion .Formulariologin{
    transition: transform .18s ease;
    transform: translateX(0);
}
.Iniciodesesion.activo .Formulariologin {
    transition: none;
    transform: translateX(-400px);
}
.Iniciodesesion .Formularioregistrarse{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.Iniciodesesion.activo .Formularioregistrarse{
    transition: transform .18s ease;
    transform: translateX(0);
}
.Formularioregistrarse h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.Formulariologin h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.cajadeinputs {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}
.cajadeinputs label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .3s;
}
.cajadeinputs input:focus~label,
.cajadeinputs input:valid~label {
    top: -5px;
}
.cajadeinputs input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.cajadeinputs .icon {
    position: absolute;
    right: 8px;
    font-size: 20px;
    color: #fff;
    line-height: 57px;
}
.Recordar-Olvidar{
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.Recordar-Olvidar label input {
    accent-color: #450076;
    margin-right: 3px;
}
.Recordar-Olvidar a {
    color: #fff;
    text-decoration: none;
}
.Recordar-Olvidar a:hover{
    text-decoration: underline;
}
.btn {
    width: 100%;
    height: 45px;
    background: #450076;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}
.Iniciarsesion-registrarse {
    margin-right: 500px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.Iniciarsesion-registrarse p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.contenedor-acordeon{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 200px;
}
.contenedor-acordeon h2{
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin-bottom: 35px;
}
.acordeon{
    font-size: 25px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 5);
    color: #fff;
}
.acordeon label{
    display: block;
    padding: 20px;
    font-size: 30px;
    background: #1c1c1c;
    color: #fff;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 700ms ease;
}
.acordeon label:hover{
    background: #162938;
}
.acordeon .contenido-acordeon{
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 700ms ease;
}
.btn-acordeon:checked ~ .contenido-acordeon{
    max-height: 12000px;
    padding: 15px 0px;
}
.btn-acordeon{
    display: none;
}
.Sobreproyecto {
    font-size: 40px;
    margin-bottom: 100px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.Objetosnecesarios {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px rgba(132, 39, 207);
    margin-top: 350px;
    margin-bottom: 350px;
    width: 1000px;
    border-radius: 1%;
    overflow: hidden;
}
.Objetosnecesarios h3{
    font-size: 40px;
    font-weight: 500;
}
.Objetosnecesarios p{
    font-size: 20px;
    font-weight: 300;
}
.Objetosnecesarios a{
    text-decoration: none;
    color: #fff;
}
